.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.labelContainer {
  display: flex;
  align-items: center;
  gap: 4px;
}

.labelContainer span {
  display: flex;
  width: 16px;
  aspect-ratio: 1 / 1;
}

.labelContainer span * {
  width: 100%;
  height: 100%;
  object-fit: cover;
  fill: var(--color-neutral-black);
}

.labelContainer label {
  font: var(--font-body-label);
  color: var(--color-neutral-black);
}

.inputContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 4px;
  border-bottom: 2px solid var(--color-neutral-grey-3);
}

.inputContainer input {
  width: 100%;
  font: var(--font-body-15);
  color: var(--color-neutral-grey-3);
  z-index: 1000;
  transition: 0.3s ease-in-out;
}

.inputContainer.editable input {
  color: var(--color-neutral-black);
}

.inputContainer.editable:focus-within {
  border-bottom-color: var(--color-primary-dark);
}

.inputContainer.editable button * {
  fill: var(--color-primary-dark);
}

.inputContainer button {
  cursor: pointer;
  display: flex;
  width: 14px;
  aspect-ratio: 1 / 1;
}

.inputContainer button * {
  width: 100%;
  height: 100%;
  object-fit: cover;
  fill: var(--color-neutral-grey-3);
}
